<div class="container">
  <div class="text-align-left fill-remaining-space">Quantity</div>
  <div class="button" (click)="handleDecrease()">
    <img src="assets/icons/remove.png" alt="">
  </div>
  <div class="count">{{ count }}</div>
  <div class="button" (click)="handleIncrease()">
    <img src="assets/icons/add.png" alt="">
  </div>
</div>
