.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 1.6rem;
}
.button {
  background-color: lightgray;
}
.button img {
  object-fit: contain;
  width: 1.5rerm;
  height: 1.5rem;
}
.count {
  margin: 0 0.5rem;
  width: 2rem;
  text-align: center;
}
.fill-remaining-space {
  flex: 1;
}
.text-align-left {
  text-align: start;
}
