<ul [ngStyle]="{ 'background-color': backgroundColor}">
  <li
    *ngFor="let menu of menus; let i = index; let even = even; let odd = odd"
    [ngClass]="{'even': even, 'odd': odd}"
  >
    <a
      [ngStyle]="{ color: i === selectedIndex ? titleActiveColor : titleColor}"
      (click)="handleSelection(i)"
    >
      {{ menu.title }}
    </a>
    <span
        class="indicator"
        [ngStyle]="{ 'background-color': indicatorColor}"
        *ngIf="menu.link === selectedTabLink"
      ></span>
  </li>
</ul>
<ng-content></ng-content>
