ul {
  padding: 0;
  margin: 0;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  justify-content: space-between;
}
ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 5px;
  padding: 0;
  white-space: nowrap;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  display: none;
}
.indicator {
  height: 2px;
  width: 2rem;
  margin-top: 2px;
}
