:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
  height: 100%;
  overflow-y: hidden;
}
.main {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: contain;
  height: calc(100% - 3rem);
}
