<div class="login">
  <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm(validateForm)">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your email!">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="email" placeholder="Email" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="remember">
          <span>Remember me</span>
        </label>
        <a class="login-form-forgot" class="login-form-forgot">Forgot password</a>
        <button nz-button class="login-form-button" [nzType]="'primary'">Log in</button>
        Or
        <a>register now!</a>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>

<a id="disclaimer" (click)="showModal()">Terms and Conditions and Privacy Policy</a>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Terms and
          Conditions and Privacy Policy" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <p>Effective from: March 2020</p>
  <h3>1. Scope and updates of this User Privacy Notice </h3>
  <p>This User Privacy Notice applies to your use of this website and all applications, services (including payment services), products and tools (collectively the "Services"), regardless of how you access or use these Services, including access via mobile devices.</p>
  <p>This User Privacy Notice also applies if explicit reference is made to it via a link or in a similar manner, e.g. on websites of partners on which Services from <strong>MSP</strong> are offered.</p>
  <p>We may change this User Privacy Notice at any time by posting the revised User Privacy Notice on this website and indicating the effective date of the revised User Privacy Notice.</p>

  <h3>2. Controller </h3>
  <p>Which <strong>MSP</strong> company is responsible for the collection and processing of your personal data in connection with the provision of the Services depends on how you use our Services.</p>

  <h4>2.1 Use of the Services </h4>
  <p>We collect your address through PayPal when you purchase a product from our webpage.  We do not store your address and we only access your shipping information through PayPal and Amazon RDS through AWS.</p>
  <ul>
    <li>USA: <strong>MSP</strong>, 400 Cedar Avenue, Long Branch, NJ, 07764, USA.</li>
  </ul>

  <h3>3. What personal data we collect and process</h3>
  <p>We collect your personal data when you use our Services when you give us the shipping information through the PayPal API and through our Amazon RDS database which contains your shipping information, username, payment date, and items bought that you the customer has purchased.</p>

  <h3>4. Purposes and legal basis for data processing and categories of recipients </h3>
  <p>We process your personal data for various purposes and pursuant to various legal bases. We process your personal data primarily to provide and improve our Services, to provide you with a personalized user experience on this website, to provide customer service, to detect, prevent, mitigate and investigate fraudulent or illegal activity.</p>

  <h4>4.1 We process your personal data in order to fulfil our contract with you and to provide you with our Services. This includes the following purposes:</h4>
  <ul>
    <li>Processing of data relating to you or your company for the purpose of entering into a contract with you and executing it.</li>
    <li>Provision of our Services, including but not limited to enabling and performing transactions with other users (including the transmission of your personal data to other users where necessary to perform the transaction, including in cases of terminated, failed or subsequently voided transactions), providing and enhancing features such as payment processing, ratings and <strong>MSP</strong> account management, providing other services you may use (as described in connection with such services), and ensuring the functionality of our Services. In connection with the provision of our Services, we will send you notifications relating to the execution of transactions and the use of our Services in accordance with the communication preferences in your <strong>MSP</strong> account.</li>
    <li>Enforcement of this User Privacy Notice and other rules and policies.</li>
    <p><b>Where necessary, we transmit your personal data to processors and the following recipients for one or several of the purposes described below:</b></p>
    <li>Other <strong>MSP</strong> users.</li>
    <li>Payment service providers including PayPal.</li>
  </ul>

  <h4>4.2 We process your personal data in order to comply with legal obligations to which we are subject. This includes the following purposes:</h4>
  <ul>
    <li>Participation in proceedings (including judicial proceedings) conducted by public authorities or government agencies, in particular, for the purpose of detecting, investigating and prosecuting illegal acts.</li>
    <li>Prevention, detection and mitigation of illegal activities (e.g. fraud, money laundering and terrorist financing).</li>
    <li>Ensuring the information security of our Services.</li>
    <li>Retention and storage of your personal data to comply with specific legal retention requirements.</li>
    <p><b>Where necessary, we transmit your personal data to processors and the following recipients for one or several of the purposes described below:</b></p>
    <li>Law enforcement agencies, courts, government agencies or public authorities, intergovernmental or supranational bodies (in connection with our payment services provided in the EU for sellers in particular with regard to compliance with Luxembourg laws concerning FATCA dated July 7, 2015 and concerning the OECD Common Reporting Standard dated December 18, 2015).</li>
    <li>Third party service providers.</li>
    <li>Third parties who are involved in judicial proceedings, in particular, if they submit a legal order, court order or equivalent legal order to us.</li>
    <li>Credit agencies bureaus or associations, if required by applicable law (e.g. information on payment delays, payment defaults or other irregularities that may be relevant to your credit report).</li>
  </ul>

  <h4>4.3 We process your personal data in order to protect your vital interests or the vital interests of another natural person. This includes the following purposes:</h4>
  <ul>
    <li>Prevention, detection, mitigation and investigation of unlawful activities that may result in impairment of your vital interests or the vital interests of another natural person, unless there is a statutory obligation to this effect.</li>
    <p><b>Where necessary, we transmit your personal data to processors and the following recipients for one or several of the purposes described below:</b></p>
    <li>Law enforcement agencies, courts, government agencies or public authorities, intergovernmental or supranational bodies.</li>
    <li>Third parties who are involved in judicial proceedings.</li>
    <li>External service providers.</li>
  </ul>

  <h4>4.4 We process your personal data where necessary for the purposes of the legitimate interests pursued by us or by a third party, except where such interests are overridden by your interests or fundamental rights and freedoms. In order to reconcile our legitimate interests with your rights, we have introduced appropriate control mechanisms. On this basis, we process your data for the following purposes:</h4>
  <ul>
    <li>Participation in proceedings (including judicial proceedings) conducted by courts, law enforcement agencies, government agencies or public authorities, intergovernmental or supranational bodies, in particular for the purpose of detecting, investigating and prosecuting illegal acts, unless there is a statutory obligation to this effect, and we may legitimately assume that the disclosure of the data is necessary to avert imminent disadvantages or to report a suspicion of an illegal act. In such cases, we will only disclose what we believe is necessary, such as your name, city, zip code, telephone number, email address, (previous) user names, IP address, fraud complaints, bidding and listing history.</li>
    <p><b>Where necessary, we transmit your personal data to processors and the following recipients for one or several of the purposes described below:</b></p>
    <li>External service providers.</li>
    <li>Other <strong>MSP</strong> users</li>
    <li>Law enforcement agencies, courts, government agencies or public authorities, intergovernmental or supranational bodies.</li>
    <li>Third parties who are involved in judicial proceedings.</li>
    <li>Payment service providers including the PayPal Inc. group of companies.</li>
    <li>Credit agencies or bureaus (e.g. information about payment delays, payment defaults, or other irregularities that may be relevant to your credit report).</li>
    <li>Other companies in the context of a company acquisition.</li>
  </ul>

  <h4>4.5 With your consent, we process your personal data for the following purposes:</h4>
  <ul>
    <li>Processing of your personal data on the basis of your consent, which you have given so that we or third parties can enable you to use certain services or make them available to you.</li>
    <p><b>Where necessary, we transmit your personal data to processors and the following recipients for one or several of the purposes described below:</b></p>
    <li>Other third parties with whom we partner to offer you specific services (as described at the collection of the respective user consent).</li>
  </ul>

  <h4>4.6 Automated decision-making</h4>
  <p>We use technologies that are considered automated decision making or profiling. We will not make any automated decisions about you that would significantly affect you unless such a decision is necessary for entering into, or the performance of, a contract with you, we have obtained your consent, or we are required by applicable law to use such technology.</p>

  <h3>5. Rights as a data subject</h3>
  <ul>
    <li>You have the right to obtain <strong>access</strong> to your personal data that is being processed by us. In particular, you may request information on the purposes of the processing, the categories of personal data concerned, the categories of recipients to whom the personal data have been or will be disclosed, the envisaged period for which the personal data will be stored, the existence of the right to request rectification or erasure of personal data or restriction of processing of personal data or to object to such processing.  Your right to access may be limited by national law.</li>
    <li>You have the right to obtain from us without undue delay the <strong>rectification</strong> of inaccurate personal data concerning you. Taking into account the purposes of the processing, you have the right to have incomplete personal data completed, including by means of providing a supplementary statement.</li>
    <li>You have the right to obtain from us the <strong>erasure</strong> of personal data concerning you, unless processing is necessary for exercising the right of freedom of expression and information, for compliance with a legal obligation, for reasons of public interest or for the establishment, exercise or defense of legal claims. The right to erasure may be limited by national law.</li>
    <li>You have the right to obtain from us restriction of processing to the extent that</li>
    <li>
      <ul>
        <li>the accuracy of the data is disputed by you,</li>
        <li>the processing is unlawful, but you oppose the erasure of the personal data,</li>
        <li>we no longer need the data, but you need it to assert, exercise or defend legal claims or</li>
        <li>you have objected to the processing.</li>
      </ul>
    </li>
  </ul>

  <h3>6. Cookies & similar technologies</h3>
  <p>When you use our Services, we and selected third parties may use cookies and similar technologies to provide you with a better, faster and safer user experience or to show you personalized advertising. Cookies are small text files that are automatically created by your browser and stored on your device when you use the Services.</p>
  <p>Our cookies and similar technologies have different functions:</p>
  <ul>
    <li>They may be technically necessary for the provision of our Services.</li>
    <li>They help us optimize our Services technically (e.g. monitoring of error messages and loading times).</li>
    <li>They help us improve your user experience (e.g. save font size and form data entered).</li>
  </ul>
  <p>We use cookies and similar technologies that remain on your device only as long as your browser is active (session cookies), as well as cookies and similar technologies that remain on your device longer (permanent cookies). Where possible, we take appropriate security measures to prevent unauthorized access to our cookies and similar technologies.</p>
  <p>You are free to disable the use of cookies and similar technologies if this is supported by your device. You can manage your cookie settings in your browser or device settings.</p>

  <h3>7. Data security</h3>
  <p>We protect your personal data through technical and organizational security measures to minimize risks associated with data loss, misuse, unauthorized access and unauthorized disclosure and alteration. To this end our services include the inclusion of Amazon’s EC2 which includes public key cryptography which eliminates the need for a password.</p>

  <h3>8. Other important information regarding data protection</h3>
  <p><b>What happens when you share your personal data on our sites or applications?</b></p>
  <p>To help protect your personal data, we allow only limited access to other users' contact, shipping and financial information as necessary to facilitate your transactions and collect payments through PayPal.  However, when users are involved in a transaction, they have access to each other's name, user ID, email address and other contact and shipping information available on PayPal and our database.</p>
  <p><b>Your responsibilities over transactional information you receive through MSP</b></p>
  <p>You may use the personal data that you have access to only for MSP transaction-related purposes, or for other Services offered through MSP(such as shipping, fraud complaints, and member-to-member communications), and for purposes expressly consented by the user to whom the data relates.</p>
  <p><b>Personal data relating to third parties</b></p>
  <p>If you provide us with personal data relating to another person, you must obtain the consent of this person or the disclosure of the data to us must be otherwise legally permissible. You must inform the other person of how we process personal data in accordance with our User Privacy Notice.</p>
  <p><b>Are you obliged to provide your personal data to us?</b></p>
  <p>Some of the personal data that you provide to us (e.g. data by which we can identify you) is required.  The provision of any other personal data is voluntary but may be necessary for the use of our Services, such as purchase and sales data to complete a transaction.</p>






</nz-modal>
