:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
  justify-content: space-around;
}

.login {
  display: flex;
  justify-content: center;
}

.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
