<div class="container">
  <div class="title">
    <span>{{groupOrders.length}} people are buying, join now</span>
    <span><img src="assets/icons/navigate_next.png" alt=""></span>
  </div>
  <app-group-item *ngFor="let item of groupOrders" [order]="item"></app-group-item>
</div>
