<div class="container">
  <img [src]="product.imageUrl" alt="" class="product-image">
  <div class="product-title">
    {{product.title | slice: 0:13}}
  </div>
  <div class="product-tags">
    <span appTag *ngFor="let tag of product.tags">
      {{tag}}
    </span>
  </div>
  <div class="product-price">
    <span class="price-section">
      <h3 class="price">{{product.price | currency}}</h3>
    </span>
    <span class="price-desc">
      {{product.priceDesc}}
    </span>
    <span class="price-more">
      发现
    </span>

  </div>
</div>
