<div class="container">
  <img appAvatar avatarSize="2rem" [src]="order.avatar">
  <div class="username">{{order.startBy}}</div>
  <div class="count-down">
    <div>
      Need<span class="remaining-number"> {{order.remainingNumber}} more people </span>
    </div>
    <app-count-down [startDate]="startDate" [futureDate]="futureDate"></app-count-down>
  </div>
  <button type="button" class="group-button">Join</button>
</div>
