:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.hidden {
  display: none;
}
.show {
  display: block;
}
#dialog-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  background-color: #fff;
  margin-left: 0;
  text-align: center;
  box-shadow: 0 0 2px 1px black;
  z-index: 3000;
}
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
  z-index: 2999;
}
