<router-outlet></router-outlet>
<app-footer [selectedIndex]="selectedIndex$ | async" (tabSelected)="handleTabSelected($event)"></app-footer>
<div id="overlay" class="hidden" (click)="removeDialog()"></div>
<div id="dialog-container" class="hidden"></div>
