:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}
.ad-containe {
  padding: 0 0.5rem;
  background-color: #fff;
}
.ad-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
