<app-horizontal-grid [cols]="5" [displayCols]="5">
  <span appGridItem *ngFor="let item of tabItems; let idx = index">
    <img appGridItemImage="2rem" [src]="idx===selectedIndex ? item.selectedIcon : item.icon" alt=""
    (click)="toogleSelectedTab(idx)">
    <span appGridItemTitle="0.6rem" class="title">{{ item.title }}</span>
  </span>
</app-horizontal-grid>
