<ng-container *ngIf="(selectedTabLink$ | async) as tab">
  <ng-container *ngIf="tab === 'hot'">
    <app-image-slider [sliders]="imageSliders$ | async"></app-image-slider>
    <app-horizontal-grid>
      <span appGridItem *ngFor="let item of channels$ | async">
        <img appGridItemImage="2rem" [src]="item.icon" alt="">
        <span appGridItemTitle="0.6rem" class="title">{{ item.title }}</span>
      </span>
    </app-horizontal-grid>
  </ng-container>
</ng-container>
<div class="ad-container" *ngIf="ad$ | async as ad">
  <img [src]="ad.imageUrl" alt="" class="ad-image">
</div>
<app-vertical-grid [itemWidth]="'20rem'">
  <app-product-card
    *ngFor="let product of products$ | async"
    [product]="product"
    [routerLink]="['/products', product.id]"
  >
  </app-product-card>
</app-vertical-grid>
