<app-back-button></app-back-button>
<ng-container *ngIf="variants$ | async as productVariants">
  <app-image-slider
    [sliders]="productVariants[selectedIndex].productVariantImages"
    [sliderHeight]="'22rem'"
    [intervalBySeconds]="0"
  >
  </app-image-slider>
  <div class="price-section">
    <div class="now-price">
      {{productVariants[selectedIndex].price | currency}}
    </div>
    <div class="list-price">
      {{productVariants[selectedIndex].listPrice | currency}}
    </div>
    <div class="sales-count">
      {{productVariants[selectedIndex].product.priceDesc}}
    </div>
    <div class="title">
      {{productVariants[selectedIndex].name}}
    </div>
    <div class="coupon">
      <span appTag [tagBgColor]="'#e02f29'" [tagColor]="'#fff'" [tagSize]="'1rem'" [tagPadding]="'2px 10px'" [tagRadius]="'5px'">Cashback</span>
      <span>
        $5 off when you spend $50
      </span>
    </div>
    <div class="guarantee">
      <span>Free Shipping</span>
      <span>·</span>
      <span>7 days return policy</span>
      <span>·</span>
      <span>Ship within 48 hours</span>
      <span>·</span>
      <span>Authenticate</span>
    </div>
    <app-group-short-list class="group-short-list"></app-group-short-list>
  </div>

  <div class="toolbar">
    <div class="icon-button">
      <img src="assets/icons/more.png" alt="">
      <div>More</div>
    </div>
    <div class="icon-button">
      <img src="assets/icons/favorite.png" alt="">
      <div>Favorite</div>
    </div>
    <div class="icon-button">
      <img src="assets/icons/customer-service.png" alt="">
      <div>Service</div>
    </div>
    <div class="direct-buy" (click)="handleDirectBuy(productVariants)">
      <div>
        {{ productVariants[selectedIndex].listPrice | currency }}
      </div>
      <div>Buy Now</div>
    </div>
    <div class="group-buy" (click)="handleGroupBuy(productVariants)">
      <div>{{ productVariants[selectedIndex].price | currency }}</div>
      <div>Group Buy</div>
    </div>
  </div>

</ng-container>
