<div class="container" *ngIf="item$ | async as item">
  <div class="title-bar">
    <app-back-button [float]="false">
    </app-back-button>
    <span>Confirm Your Order</span>
  </div>
  <div class="content">
    <div class="address-bar">
      <img src="assets/icons/location.png" alt="" class="location">
      <div class="name-and-mobile">
        <span class="name">
          Qi Si
        </span>
        <span class="mobile">
          888-888-88888
        </span>
      </div>
      <div class="address">
        400 Cedar Drive, Monmouth University
      </div>
      <img src="assets/icons/navigate_next.png" alt="" class="more">
    </div>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
      <div class="shop">
        <img src="assets/icons/brand.png" alt="">
        <span>xxxRetailer</span>
      </div>
      <div class="product-bar">
        <img [src]="item.variant.productVariantImages[0].imgUrl" alt="" class="product-image">
        <span class="product-name">{{ item.variant.product.title }}</span>
        <div class="product-spec">Style: {{ item.variant.name}}</div>
        <div class="product-price">
          <span>{{ item.variant.price | currency}}/per item</span>
          <p class="price-condition">Free Return</p>
        </div>
      </div>
      <app-product-amount [count]="item.count" (amountChange)="handleAmountChange($event)"></app-product-amount>
      <app-payment [payments]="payments"></app-payment>
  </div>
  <div class="toolbar">
    <div class="total-price">
      <span>You Pay: </span>
      <span class="price-section">
        {{ totalPrice$ | async | currency }}
      </span>
      <span class="price-condition">
        &nbsp;+ Shipping
      </span>
    </div>
    <div class="pay" (click)="handlePay()">Submit</div>
  </div>
</div>
